*{
    margin: 0;
}
body{
    margin: 0;
}
.bannerizq{
    width: 300px;
    height: 1080px;
    background-color: #333;
    position: absolute;
}

.logo{
    padding-top: 15px;
    height: 300px;
    width: 300px;
}
.menubanner{
    padding-top: 150px;
    text-align: center;
}
.menuslots{
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
    display: block;
    font-size: 2em;
    padding: 15px;
}
.menuslots:link{
    text-decoration: none;
    
}

.bodysinmenu{
    margin-left: 300px;
    background-color: rgb(99, 103, 107);
    height: 1080px;
    width: 1620px;
}

.headerbody{
    z-index: -1;
    margin-left: 100px;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: white;
}

.contentbody{
    padding-left: 100px;
    padding-top: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 650px;
    color: whitesmoke;

}
.textbody{
    padding-top: 50px;
    color: whitesmoke;
}

.imgcontainer{
    
    left: 1100px;
    bottom: 120px;
    padding-left: 50px;
    position: absolute;
    
}
.reunion{
    width: 700px
}
.campos{
    display: block;
    padding-top: 15px;
}
.botonform{
    display: block;
    margin-top: 20px;
    width: 80px;
}

.todo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(73, 0, 73);
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    width: 50%;
    height: 50%;
    background: radial-gradient(rgb(228, 6, 228), purple);
}

.item-container{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: sans-serif;
    font-size: 2rem;
    color: #eee;

}

.item-container:nth-child(1){
    grid-column: span 2;
    background-color: salmon;
}

.item-container:nth-child(2),
.item-container:nth-child(4) {
    grid-row: span 4;
    background-color: slateblue;
}

.item-container:nth-child(3),
.item-container:nth-child(5){
    grid-row: span 4;
    background-color: turquoise;
}

.item-container:nth-child(2){
    grid-column-start: 1;
}

.item-container:nth-child(12){
    grid-column: span 2;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1 / 2;
    background-color: tomato;
}
.item-container:nth-child(7),
.item-container:nth-child(6){
    grid-row: span 2;
    background-color: violet;

}

.item-container:nth-child(8),
.item-container:nth-child(9),
.item-container:nth-child(10),
.item-container:nth-child(11){
    background-color: rgb(240, 178, 63);
}


